@model MVCWizerunek.Models.Studenci

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Studenci</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.imie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.imie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nazwisko)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nazwisko)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.data_urodzenia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.data_urodzenia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.plec)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.plec)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.miasto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.miasto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.liczba_dzieci)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.liczba_dzieci)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
